<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.enhantec.wms.ui.inbound.mapper.ReceiptMapper">

<!--    <resultMap id="BaseResultMap" type="com.enhantec.wms.ui.inbound.model.ReceiptModel">-->
<!--        <result property="serialKey" column="serialKey" jdbcType="VARCHAR"/>-->
<!--        <result property="storerKey" column="storerKey" jdbcType="VARCHAR"/>-->
<!--        <result property="poKey" column="poKey" jdbcType="VARCHAR"/>-->
<!--        <result property="receiptDate" column="receiptDate" jdbcType="DATE"/>-->
<!--        <result property="externReceiptKey" column="externReceiptKey" jdbcType="VARCHAR"/>-->
<!--        <result property="externalReceiptKey2" column="externalReceiptKey2" jdbcType="VARCHAR"/>-->
<!--        <result property="status" column="status" jdbcType="VARCHAR"/>-->
<!--        <result property="susr1" column="susr1" jdbcType="VARCHAR"/>-->
<!--        <result property="susr2" column="susr2" jdbcType="VARCHAR"/>-->
<!--        <result property="susr3" column="susr3" jdbcType="VARCHAR"/>-->
<!--        <result property="susr4" column="susr4" jdbcType="VARCHAR"/>-->
<!--        <result property="susr5" column="susr5" jdbcType="VARCHAR"/>-->
<!--        <result property="type" column="type" jdbcType="VARCHAR"/>-->
<!--        <result property="notes" column="notes" jdbcType="VARCHAR"/>-->
<!--        <result property="closedDate" column="closedDate" jdbcType="DATE"/>-->
<!--        <result property="isConfirmed" column="isConfirmed" jdbcType="VARCHAR"/>-->
<!--        <result property="isConfirmedUser" column="isConfirmedUser" jdbcType="BIT"/>-->
<!--        <result property="isConfirmedUser2" column="isConfirmedUser2" jdbcType="BIT"/>-->
<!--    </resultMap>-->

    <sql id="Base_Column_List">
        serialKey,whseId, storerKey, receiptKey, poKey, receiptDate, externReceiptKey,
        externReceiptKey2, status, susr1, susr2, susr3, susr4, susr5, type,
        notes, closeDate, isConfirmed, isConfirmedUser, isConfirmedUser2
    </sql>



    <select id="queryPageData" resultType="java.util.Map">
        select
            serialKey,whseId, storerKey, receiptKey, poKey, receiptDate, externReceiptKey,
            externalReceiptKey2, type, notes, closedDate, isConfirmed, isConfirmedUser, isConfirmedUser2,
            addWho, addDate, editWho, editDate
        from RECEIPT
        ${ew.customSqlSegment}
    </select>
</mapper>
