<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.enhantec.wms.ui.inbound.mapper.ReceiptDetailMapper">

    <resultMap id="BaseResultMap" type="com.enhantec.wms.ui.inbound.model.ReceiptDetailModel">
        <id property="receiptKey" column="RECEIPTKEY" jdbcType="VARCHAR"/>
        <id property="receiptLineNumber" column="RECEIPTLINENUMBER" jdbcType="VARCHAR"/>
        <result property="serialKey" column="SERIALKEY" jdbcType="INTEGER"/>
        <result property="whseId" column="WHSEID" jdbcType="VARCHAR"/>
        <result property="externReceiptKey" column="EXTERNRECEIPTKEY" jdbcType="VARCHAR"/>
        <result property="externLineNo" column="EXTERNLINENO" jdbcType="VARCHAR"/>
        <result property="storerKey" column="STORERKEY" jdbcType="VARCHAR"/>
        <result property="poKey" column="POKEY" jdbcType="VARCHAR"/>
        <result property="sku" column="SKU" jdbcType="VARCHAR"/>
        <result property="status" column="STATUS" jdbcType="VARCHAR"/>
        <result property="dateReceived" column="DATERECEIVED" jdbcType="TIMESTAMP"/>
        <result property="qtyExpected" column="QTYEXPECTED" jdbcType="DECIMAL"/>
        <result property="qtyAdjusted" column="QTYADJUSTED" jdbcType="DECIMAL"/>
        <result property="qtyReceived" column="QTYRECEIVED" jdbcType="DECIMAL"/>
        <result property="uom" column="UOM" jdbcType="VARCHAR"/>
        <result property="packKey" column="PACKKEY" jdbcType="VARCHAR"/>
        <result property="xdockKey" column="XDOCKKEY" jdbcType="VARCHAR"/>
        <result property="toLoc" column="TOLOC" jdbcType="VARCHAR"/>
        <result property="toLot" column="TOLOT" jdbcType="VARCHAR"/>
        <result property="toId" column="TOID" jdbcType="VARCHAR"/>
        <result property="conditionCode" column="CONDITIONCODE" jdbcType="VARCHAR"/>
        <result property="lottable01" column="LOTTABLE01" jdbcType="VARCHAR"/>
        <result property="lottable02" column="LOTTABLE02" jdbcType="VARCHAR"/>
        <result property="lottable03" column="LOTTABLE03" jdbcType="VARCHAR"/>
        <result property="lottable04" column="LOTTABLE04" jdbcType="TIMESTAMP"/>
        <result property="lottable05" column="LOTTABLE05" jdbcType="TIMESTAMP"/>
        <result property="lottable06" column="LOTTABLE06" jdbcType="VARCHAR"/>
        <result property="lottable07" column="LOTTABLE07" jdbcType="VARCHAR"/>
        <result property="lottable08" column="LOTTABLE08" jdbcType="VARCHAR"/>
        <result property="lottable09" column="LOTTABLE09" jdbcType="VARCHAR"/>
        <result property="lottable10" column="LOTTABLE10" jdbcType="VARCHAR"/>
        <result property="grossWgt" column="GROSSWGT" jdbcType="DECIMAL"/>
        <result property="netWgt" column="NETWGT" jdbcType="DECIMAL"/>
        <result property="susr1" column="SUSR1" jdbcType="VARCHAR"/>
        <result property="susr2" column="SUSR2" jdbcType="VARCHAR"/>
        <result property="susr3" column="SUSR3" jdbcType="VARCHAR"/>
        <result property="susr4" column="SUSR4" jdbcType="VARCHAR"/>
        <result property="susr5" column="SUSR5" jdbcType="VARCHAR"/>
        <result property="notes" column="NOTES" jdbcType="VARCHAR"/>
        <result property="reasonCode" column="REASONCODE" jdbcType="VARCHAR"/>
        <result property="qtyRejected" column="QTYREJECTED" jdbcType="DECIMAL"/>
        <result property="type" column="TYPE" jdbcType="VARCHAR"/>
        <result property="qcRequired" column="QCREQUIRED" jdbcType="VARCHAR"/>
        <result property="qcQtyInspected" column="QCQTYINSPECTED" jdbcType="DECIMAL"/>
        <result property="qcQtyRejected" column="QCQTYREJECTED" jdbcType="DECIMAL"/>
        <result property="qcRejReason" column="QCREJREASON" jdbcType="VARCHAR"/>
        <result property="qcStatus" column="QCSTATUS" jdbcType="VARCHAR"/>
        <result property="qcUser" column="QCUSER" jdbcType="VARCHAR"/>
        <result property="externalLot" column="EXTERNALLOT" jdbcType="VARCHAR"/>
        <result property="poLineNumber" column="POLINENUMBER" jdbcType="VARCHAR"/>
        <result property="lottable11" column="LOTTABLE11" jdbcType="TIMESTAMP"/>
        <result property="lottable12" column="LOTTABLE12" jdbcType="TIMESTAMP"/>
        <result property="tareWgt" column="TAREWGT" jdbcType="DECIMAL"/>
        <result property="temperature" column="TEMPERATURE" jdbcType="DECIMAL"/>
        <result property="originalLineNumber" column="ORIGINALLINENUMBER" jdbcType="VARCHAR"/>
        <result property="addDate" column="ADDDATE" jdbcType="TIMESTAMP"/>
        <result property="addWho" column="ADDWHO" jdbcType="VARCHAR"/>
        <result property="editDate" column="EDITDATE" jdbcType="TIMESTAMP"/>
        <result property="editWho" column="EDITWHO" jdbcType="VARCHAR"/>
        <result property="extUdfStr1" column="EXT_UDF_STR1" jdbcType="VARCHAR"/>
        <result property="extUdfStr2" column="EXT_UDF_STR2" jdbcType="VARCHAR"/>
        <result property="extUdfStr3" column="EXT_UDF_STR3" jdbcType="VARCHAR"/>
        <result property="extUdfStr4" column="EXT_UDF_STR4" jdbcType="VARCHAR"/>
        <result property="extUdfStr5" column="EXT_UDF_STR5" jdbcType="VARCHAR"/>
        <result property="extUdfStr6" column="EXT_UDF_STR6" jdbcType="VARCHAR"/>
        <result property="extUdfStr7" column="EXT_UDF_STR7" jdbcType="VARCHAR"/>
        <result property="extUdfStr8" column="EXT_UDF_STR8" jdbcType="VARCHAR"/>
        <result property="extUdfStr9" column="EXT_UDF_STR9" jdbcType="VARCHAR"/>
        <result property="extUdfStr10" column="EXT_UDF_STR10" jdbcType="VARCHAR"/>
        <result property="extUdfStr11" column="EXT_UDF_STR11" jdbcType="VARCHAR"/>
        <result property="extUdfStr12" column="EXT_UDF_STR12" jdbcType="VARCHAR"/>
        <result property="extUdfStr13" column="EXT_UDF_STR13" jdbcType="VARCHAR"/>
        <result property="extUdfStr14" column="EXT_UDF_STR14" jdbcType="VARCHAR"/>
        <result property="extUdfStr15" column="EXT_UDF_STR15" jdbcType="VARCHAR"/>
        <result property="extUdfDate1" column="EXT_UDF_DATE1" jdbcType="TIMESTAMP"/>
        <result property="extUdfDate2" column="EXT_UDF_DATE2" jdbcType="TIMESTAMP"/>
        <result property="extUdfDate3" column="EXT_UDF_DATE3" jdbcType="TIMESTAMP"/>
        <result property="extUdfDate4" column="EXT_UDF_DATE4" jdbcType="TIMESTAMP"/>
        <result property="extUdfDate5" column="EXT_UDF_DATE5" jdbcType="TIMESTAMP"/>
        <result property="extUdfFloat1" column="EXT_UDF_FLOAT1" jdbcType="FLOAT"/>
        <result property="extUdfFloat2" column="EXT_UDF_FLOAT2" jdbcType="FLOAT"/>
        <result property="extUdfFloat3" column="EXT_UDF_FLOAT3" jdbcType="FLOAT"/>
        <result property="extUdfFloat4" column="EXT_UDF_FLOAT4" jdbcType="FLOAT"/>
        <result property="extUdfFloat5" column="EXT_UDF_FLOAT5" jdbcType="FLOAT"/>
        <result property="extUdfLkup1" column="EXT_UDF_LKUP1" jdbcType="VARCHAR"/>
        <result property="extUdfLkup2" column="EXT_UDF_LKUP2" jdbcType="VARCHAR"/>
        <result property="extUdfLkup3" column="EXT_UDF_LKUP3" jdbcType="VARCHAR"/>
        <result property="extUdfLkup4" column="EXT_UDF_LKUP4" jdbcType="VARCHAR"/>
        <result property="extUdfLkup5" column="EXT_UDF_LKUP5" jdbcType="VARCHAR"/>
        <result property="extUdfLkup6" column="EXT_UDF_LKUP6" jdbcType="VARCHAR"/>
        <result property="extUdfLkup7" column="EXT_UDF_LKUP7" jdbcType="VARCHAR"/>
        <result property="extUdfLkup8" column="EXT_UDF_LKUP8" jdbcType="VARCHAR"/>
        <result property="extUdfLkup9" column="EXT_UDF_LKUP9" jdbcType="VARCHAR"/>
        <result property="extUdfLkup10" column="EXT_UDF_LKUP10" jdbcType="VARCHAR"/>
        <result property="susr6" column="SUSR6" jdbcType="VARCHAR"/>
        <result property="susr7" column="SUSR7" jdbcType="VARCHAR"/>
        <result property="susr8" column="SUSR8" jdbcType="VARCHAR"/>
        <result property="susr9" column="SUSR9" jdbcType="VARCHAR"/>
        <result property="susr10" column="SUSR10" jdbcType="VARCHAR"/>
        <result property="susr11" column="SUSR11" jdbcType="VARCHAR"/>
        <result property="susr12" column="SUSR12" jdbcType="VARCHAR"/>
        <result property="susr13" column="SUSR13" jdbcType="VARCHAR"/>
        <result property="susr14" column="SUSR14" jdbcType="VARCHAR"/>
        <result property="susr15" column="SUSR15" jdbcType="VARCHAR"/>
        <result property="susr16" column="SUSR16" jdbcType="VARCHAR"/>
        <result property="susr17" column="SUSR17" jdbcType="VARCHAR"/>
        <result property="susr18" column="SUSR18" jdbcType="VARCHAR"/>
        <result property="susr19" column="SUSR19" jdbcType="VARCHAR"/>
        <result property="susr20" column="SUSR20" jdbcType="VARCHAR"/>
        <result property="grossWgtReceived" column="GROSSWGTRECEIVED" jdbcType="DECIMAL"/>
        <result property="tareWgtReceived" column="TAREWGTRECEIVED" jdbcType="DECIMAL"/>
        <result property="barrelNumber" column="BARRELNUMBER" jdbcType="VARCHAR"/>
        <result property="grossWgtExpected" column="GROSSWGTEXPECTED" jdbcType="DECIMAL"/>
        <result property="tareWgtExpected" column="TAREWGTEXPECTED" jdbcType="DECIMAL"/>
        <result property="totalBarrelNumber" column="TOTALBARRELNUMBER" jdbcType="VARCHAR"/>
        <result property="regrossWgt" column="REGROSSWGT" jdbcType="DECIMAL"/>
        <result property="eExternalLot" column="EEXTERNALLOT" jdbcType="VARCHAR"/>
        <result property="elottable01" column="ELOTTABLE01" jdbcType="VARCHAR"/>
        <result property="elottable02" column="ELOTTABLE02" jdbcType="VARCHAR"/>
        <result property="elottable03" column="ELOTTABLE03" jdbcType="VARCHAR"/>
        <result property="elottable04" column="ELOTTABLE04" jdbcType="TIMESTAMP"/>
        <result property="elottable05" column="ELOTTABLE05" jdbcType="TIMESTAMP"/>
        <result property="elottable06" column="ELOTTABLE06" jdbcType="VARCHAR"/>
        <result property="elottable07" column="ELOTTABLE07" jdbcType="VARCHAR"/>
        <result property="elottable08" column="ELOTTABLE08" jdbcType="VARCHAR"/>
        <result property="elottable09" column="ELOTTABLE09" jdbcType="VARCHAR"/>
        <result property="elottable10" column="ELOTTABLE10" jdbcType="VARCHAR"/>
        <result property="elottable11" column="ELOTTABLE11" jdbcType="TIMESTAMP"/>
        <result property="elottable12" column="ELOTTABLE12" jdbcType="TIMESTAMP"/>
        <result property="elottable13" column="ELOTTABLE13" jdbcType="VARCHAR"/>
        <result property="elottable14" column="ELOTTABLE14" jdbcType="VARCHAR"/>
        <result property="elottable15" column="ELOTTABLE15" jdbcType="VARCHAR"/>
        <result property="elottable16" column="ELOTTABLE16" jdbcType="VARCHAR"/>
        <result property="elottable17" column="ELOTTABLE17" jdbcType="VARCHAR"/>
        <result property="elottable18" column="ELOTTABLE18" jdbcType="VARCHAR"/>
        <result property="elottable19" column="ELOTTABLE19" jdbcType="VARCHAR"/>
        <result property="elottable20" column="ELOTTABLE20" jdbcType="VARCHAR"/>
        <result property="elottable21" column="ELOTTABLE21" jdbcType="VARCHAR"/>
        <result property="memo" column="MEMO" jdbcType="VARCHAR"/>

    </resultMap>

    <sql id="Base_Column_List">
            receiptKey, receiptLineNumber, whseId, externReceiptKey, externLineNo, storerKey, sku, status,
            dateReceived, qtyExpected, qtyAdjusted, qtyReceived, uom, packKey, xdockKey, toLoc, toLot, toId,
            conditionCode, lottable01, lottable02, lottable03, lottable04, lottable05, lottable06, lottable07, lottable08, lottable09,
            lottable10, lottable11, lottable12, notes, reasonCode,
            qtyRejected, type, qcRequired, qcQtyInspected, qcQtyRejected, qcRejReason,
            qcStatus, qcUser, externalLot, poKey, poLineNumber, temperature, originalLineNumber,
            ext_Udf_Str1 as extUdfStr1, ext_Udf_Str2 as extUdfStr2, ext_Udf_Str3 as extUdfStr3,
            ext_Udf_Str4 as extUdfStr4, ext_Udf_Str5 as extUdfStr5, ext_Udf_Str6 as extUdfStr6,
            ext_Udf_Str7 as extUdfStr7, ext_Udf_Str8 as extUdfStr8, ext_Udf_Str9 as extUdfStr9,
            ext_Udf_Str10 as extUdfStr10, ext_Udf_Str11 as extUdfStr11, ext_Udf_Str12 as extUdfStr12,
            ext_Udf_Str13 as extUdfStr13, ext_Udf_Str14 as extUdfStr14, ext_Udf_Str15 as extUdfStr15,
            ext_Udf_Date1 as extUdfDate1, ext_Udf_Date2 as extUdfDate2, ext_Udf_Date3 as extUdfDate3,
            ext_Udf_Date4 as extUdfDate4, ext_Udf_Date5 as extUdfDate5, ext_Udf_Float1 as extUdfFloat1,
            ext_Udf_Float2 as extUdfFloat2, ext_Udf_Float3 as extUdfFloat3, ext_Udf_Float4 as extUdfFloat4,
            ext_Udf_Float5 as extUdfFloat5, ext_Udf_Lkup1 as extUdfLkup1, ext_Udf_Lkup2 as extUdfLkup2,
            ext_Udf_Lkup3 as extUdfLkup3, ext_Udf_Lkup4 as extUdfLkup4, ext_Udf_Lkup5 as extUdfLkup5,
            ext_Udf_Lkup6 as extUdfLkup6, ext_Udf_Lkup7 as extUdfLkup7, ext_Udf_Lkup8 as extUdfLkup8,
            ext_Udf_Lkup9 as extUdfLkup9, ext_Udf_Lkup10 as extUdfLkup10,
            susr1, susr2, susr3, susr4, susr5, susr6, susr7, susr8, susr9,
            susr10, susr11, susr12, susr13, susr14, susr15, susr16, susr17, susr18, susr19, susr20,
            grossWgtReceived, tareWgtReceived, barrelNumber, grossWgtExpected, tareWgtExpected, totalBarrelNumber,
            regrossWgt, eExternalLot, elottable01, elottable02, elottable03, elottable04, elottable05, elottable06, elottable07,
            elottable08, elottable09, elottable10, elottable11, elottable12, elottable13, elottable14, elottable15,
            elottable16, elottable17, elottable18, elottable19, elottable20, elottable21, memo,
            addDate,addWho,editDate,editWho
    </sql>

    <select id="queryPageData" resultType="java.util.Map">
        select
            <include refid="Base_Column_List"></include>
        from RECEIPTDETAIL
                 ${ew.customSqlSegment}
    </select>

</mapper>
