<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.enhantec.wms.ui.common.mapper.SkuMapper">

    <resultMap id="BaseResultMap" type="com.enhantec.wms.ui.common.model.SkuModel">
            <id property="sku" column="SKU" jdbcType="VARCHAR"/>
            <id property="storerKey" column="STORERKEY" jdbcType="VARCHAR"/>
            <result property="serialKey" column="SERIALKEY" jdbcType="INTEGER"/>
            <result property="whseId" column="WHSEID" jdbcType="VARCHAR"/>
            <result property="descr" column="DESCR" jdbcType="VARCHAR"/>

            <result property="manufacturerSku" column="MANUFACTURERSKU" jdbcType="VARCHAR"/>
            <result property="retailSku" column="RETAILSKU" jdbcType="VARCHAR"/>
            <result property="altSku" column="ALTSKU" jdbcType="VARCHAR"/>
            <result property="packKey" column="PACKKEY" jdbcType="VARCHAR"/>

            <result property="manualSetupRequired" column="MANUALSETUPREQUIRED" jdbcType="VARCHAR"/>
            <result property="active" column="ACTIVE" jdbcType="VARCHAR"/>
            <result property="skuGroup" column="SKUGROUP" jdbcType="VARCHAR"/>
            <result property="skuGroup2" column="SKUGROUP2" jdbcType="VARCHAR"/>

            <result property="putawayStrategyKey" column="PUTAWAYSTRATEGYKEY" jdbcType="VARCHAR"/>
            <result property="newAllocationStrategy" column="NEWALLOCATIONSTRATEGY" jdbcType="VARCHAR"/>
            <result property="strategyKey" column="STRATEGYKEY" jdbcType="VARCHAR"/>

            <result property="cartonGroup" column="CARTONGROUP" jdbcType="VARCHAR"/>
            <result property="putawayLoc" column="PUTAWAYLOC" jdbcType="VARCHAR"/>
            <result property="putawayZone" column="PUTAWAYZONE" jdbcType="VARCHAR"/>
            <result property="innerPack" column="INNERPACK" jdbcType="DECIMAL"/>
            <result property="cube" column="CUBE" jdbcType="FLOAT"/>
            <result property="grossWgt" column="GROSSWGT" jdbcType="FLOAT"/>
            <result property="netWgt" column="NETWGT" jdbcType="FLOAT"/>
            <result property="abc" column="ABC" jdbcType="VARCHAR"/>
            <result property="cycleCountFrequency" column="CYCLECOUNTFREQUENCY" jdbcType="INTEGER"/>
            <result property="lastCycleCount" column="LASTCYCLECOUNT" jdbcType="TIMESTAMP"/>
            <result property="reorderPoint" column="REORDERPOINT" jdbcType="INTEGER"/>
            <result property="reorderQty" column="REORDERQTY" jdbcType="DECIMAL"/>
            <result property="rotateBy" column="ROTATEBY" jdbcType="VARCHAR"/>
            <result property="dateCodeDays" column="DATECODEDAYS" jdbcType="INTEGER"/>
            <result property="defaultRotation" column="DEFAULTROTATION" jdbcType="VARCHAR"/>
            <result property="rfDefaultPack" column="RFDEFAULTPACK" jdbcType="VARCHAR"/>
            <result property="rfDefaultUom" column="RFDEFAULTUOM" jdbcType="VARCHAR"/>
            <result property="type" column="TYPE" jdbcType="VARCHAR"/>
            <result property="notes1" column="NOTES1" jdbcType="VARCHAR"/>
            <result property="notes2" column="NOTES2" jdbcType="VARCHAR"/>

            <result property="returnsLoc" column="RETURNSLOC" jdbcType="VARCHAR"/>
            <result property="skuType" column="SKUTYPE" jdbcType="VARCHAR"/>
            <result property="stackLimit" column="StackLimit" jdbcType="INTEGER"/>
            <result property="maxPalletsPerZone" column="MaxPalletsPerZone" jdbcType="INTEGER"/>

            <result property="toExpireDays" column="TOEXPIREDAYS" jdbcType="INTEGER"/>
            <result property="catchGrossWgt" column="CATCHGROSSWGT" jdbcType="INTEGER"/>
            <result property="catchNetWgt" column="CATCHNETWGT" jdbcType="INTEGER"/>
            <result property="catchTareWgt" column="CATCHTAREWGT" jdbcType="INTEGER"/>
            <result property="storageType" column="STORAGETYPE" jdbcType="VARCHAR"/>
            <result property="itemCharacteristic1" column="ITEMCHARACTERISTIC1" jdbcType="VARCHAR"/>
            <result property="itemCharacteristic2" column="ITEMCHARACTERISTIC2" jdbcType="VARCHAR"/>
            <result property="commodityClass" column="COMMODITYCLASS" jdbcType="VARCHAR"/>
            <result property="stockCategory" column="STOCKCATEGORY" jdbcType="VARCHAR"/>
            <result property="countryOfOrigin" column="COUNTRYOFORIGIN" jdbcType="VARCHAR"/>
            <result property="allowMultiLotLpn" column="ALLOWMULTILOTLPN" jdbcType="VARCHAR"/>


            <result property="isSerialControl" column="ISSERIALCONTROL" jdbcType="VARCHAR"/>
            <result property="enableBarcode" column="ENABLEBARCODE" jdbcType="VARCHAR"/>

            <result property="addDate" column="ADDDATE" jdbcType="TIMESTAMP"/>
            <result property="addWho" column="ADDWHO" jdbcType="VARCHAR"/>
            <result property="editDate" column="EDITDATE" jdbcType="TIMESTAMP"/>
            <result property="editWho" column="EDITWHO" jdbcType="VARCHAR"/>


            <result property="lottable01Label" column="LOTTABLE01LABEL" jdbcType="VARCHAR"/>
            <result property="lottable02Label" column="LOTTABLE02LABEL" jdbcType="VARCHAR"/>
            <result property="lottable03Label" column="LOTTABLE03LABEL" jdbcType="VARCHAR"/>
            <result property="lottable04Label" column="LOTTABLE04LABEL" jdbcType="VARCHAR"/>
            <result property="lottable05Label" column="LOTTABLE05LABEL" jdbcType="VARCHAR"/>
            <result property="lottable06Label" column="LOTTABLE06LABEL" jdbcType="VARCHAR"/>
            <result property="lottable07Label" column="LOTTABLE07LABEL" jdbcType="VARCHAR"/>
            <result property="lottable08Label" column="LOTTABLE08LABEL" jdbcType="VARCHAR"/>
            <result property="lottable09Label" column="LOTTABLE09LABEL" jdbcType="VARCHAR"/>
            <result property="lottable10Label" column="LOTTABLE10LABEL" jdbcType="VARCHAR"/>
            <result property="lottable11Label" column="LOTTABLE11LABEL" jdbcType="VARCHAR"/>
            <result property="lottable12Label" column="LOTTABLE12LABEL" jdbcType="VARCHAR"/>

            <result property="susr1" column="SUSR1" jdbcType="VARCHAR"/>
            <result property="susr2" column="SUSR2" jdbcType="VARCHAR"/>
            <result property="susr3" column="SUSR3" jdbcType="VARCHAR"/>
            <result property="susr4" column="SUSR4" jdbcType="VARCHAR"/>
            <result property="susr5" column="SUSR5" jdbcType="VARCHAR"/>
            <result property="susr6" column="SUSR6" jdbcType="VARCHAR"/>
            <result property="susr7" column="SUSR7" jdbcType="VARCHAR"/>
            <result property="susr8" column="SUSR8" jdbcType="VARCHAR"/>
            <result property="susr9" column="SUSR9" jdbcType="VARCHAR"/>
            <result property="susr10" column="SUSR10" jdbcType="VARCHAR"/>

            <result property="busr1" column="BUSR1" jdbcType="VARCHAR"/>
            <result property="busr2" column="BUSR2" jdbcType="VARCHAR"/>
            <result property="busr3" column="BUSR3" jdbcType="VARCHAR"/>
            <result property="busr4" column="BUSR4" jdbcType="VARCHAR"/>
            <result property="busr5" column="BUSR5" jdbcType="VARCHAR"/>
            <result property="busr6" column="BUSR6" jdbcType="VARCHAR"/>
            <result property="busr7" column="BUSR7" jdbcType="VARCHAR"/>
            <result property="busr8" column="BUSR8" jdbcType="VARCHAR"/>
            <result property="busr9" column="BUSR9" jdbcType="VARCHAR"/>
            <result property="busr10" column="BUSR10" jdbcType="VARCHAR"/>
            <result property="busr11" column="BUSR11" jdbcType="VARCHAR"/>
            <result property="busr12" column="BUSR12" jdbcType="VARCHAR"/>
            <result property="busr13" column="BUSR13" jdbcType="VARCHAR"/>

            <result property="extUdfStr1" column="EXT_UDF_STR1" jdbcType="VARCHAR"/>
            <result property="extUdfStr2" column="EXT_UDF_STR2" jdbcType="VARCHAR"/>
            <result property="extUdfStr3" column="EXT_UDF_STR3" jdbcType="VARCHAR"/>
            <result property="extUdfStr4" column="EXT_UDF_STR4" jdbcType="VARCHAR"/>
            <result property="extUdfStr5" column="EXT_UDF_STR5" jdbcType="VARCHAR"/>
            <result property="extUdfStr6" column="EXT_UDF_STR6" jdbcType="VARCHAR"/>
            <result property="extUdfStr7" column="EXT_UDF_STR7" jdbcType="VARCHAR"/>
            <result property="extUdfStr8" column="EXT_UDF_STR8" jdbcType="VARCHAR"/>
            <result property="extUdfStr9" column="EXT_UDF_STR9" jdbcType="VARCHAR"/>
            <result property="extUdfStr10" column="EXT_UDF_STR10" jdbcType="VARCHAR"/>
            <result property="extUdfStr11" column="EXT_UDF_STR11" jdbcType="VARCHAR"/>
            <result property="extUdfStr12" column="EXT_UDF_STR12" jdbcType="VARCHAR"/>
            <result property="extUdfStr13" column="EXT_UDF_STR13" jdbcType="VARCHAR"/>
            <result property="extUdfStr14" column="EXT_UDF_STR14" jdbcType="VARCHAR"/>
            <result property="extUdfStr15" column="EXT_UDF_STR15" jdbcType="VARCHAR"/>
            <result property="extUdfStr16" column="EXT_UDF_STR16" jdbcType="VARCHAR"/>
            <result property="extUdfStr17" column="EXT_UDF_STR17" jdbcType="VARCHAR"/>
            <result property="extUdfStr18" column="EXT_UDF_STR18" jdbcType="VARCHAR"/>
            <result property="extUdfStr19" column="EXT_UDF_STR19" jdbcType="VARCHAR"/>
            <result property="extUdfStr20" column="EXT_UDF_STR20" jdbcType="VARCHAR"/>
            <result property="extUdfStr21" column="EXT_UDF_STR21" jdbcType="VARCHAR"/>
            <result property="extUdfStr22" column="EXT_UDF_STR22" jdbcType="VARCHAR"/>
            <result property="extUdfStr23" column="EXT_UDF_STR23" jdbcType="VARCHAR"/>
            <result property="extUdfStr24" column="EXT_UDF_STR24" jdbcType="VARCHAR"/>
            <result property="extUdfStr25" column="EXT_UDF_STR25" jdbcType="VARCHAR"/>
            <result property="extUdfStr26" column="EXT_UDF_STR26" jdbcType="VARCHAR"/>
            <result property="extUdfStr27" column="EXT_UDF_STR27" jdbcType="VARCHAR"/>
            <result property="extUdfStr28" column="EXT_UDF_STR28" jdbcType="VARCHAR"/>
            <result property="extUdfStr29" column="EXT_UDF_STR29" jdbcType="VARCHAR"/>
            <result property="extUdfStr30" column="EXT_UDF_STR30" jdbcType="VARCHAR"/>
            <result property="extUdfDate1" column="EXT_UDF_DATE1" jdbcType="TIMESTAMP"/>
            <result property="extUdfDate2" column="EXT_UDF_DATE2" jdbcType="TIMESTAMP"/>
            <result property="extUdfDate3" column="EXT_UDF_DATE3" jdbcType="TIMESTAMP"/>
            <result property="extUdfDate4" column="EXT_UDF_DATE4" jdbcType="TIMESTAMP"/>
            <result property="extUdfDate5" column="EXT_UDF_DATE5" jdbcType="TIMESTAMP"/>
            <result property="extUdfDate6" column="EXT_UDF_DATE6" jdbcType="TIMESTAMP"/>
            <result property="extUdfDate7" column="EXT_UDF_DATE7" jdbcType="TIMESTAMP"/>
            <result property="extUdfDate8" column="EXT_UDF_DATE8" jdbcType="TIMESTAMP"/>
            <result property="extUdfDate9" column="EXT_UDF_DATE9" jdbcType="TIMESTAMP"/>
            <result property="extUdfDate10" column="EXT_UDF_DATE10" jdbcType="TIMESTAMP"/>
            <result property="extUdfFloat1" column="EXT_UDF_FLOAT1" jdbcType="FLOAT"/>
            <result property="extUdfFloat2" column="EXT_UDF_FLOAT2" jdbcType="FLOAT"/>
            <result property="extUdfFloat3" column="EXT_UDF_FLOAT3" jdbcType="FLOAT"/>
            <result property="extUdfFloat4" column="EXT_UDF_FLOAT4" jdbcType="FLOAT"/>
            <result property="extUdfFloat5" column="EXT_UDF_FLOAT5" jdbcType="FLOAT"/>
            <result property="extUdfFloat6" column="EXT_UDF_FLOAT6" jdbcType="FLOAT"/>
            <result property="extUdfFloat7" column="EXT_UDF_FLOAT7" jdbcType="FLOAT"/>
            <result property="extUdfFloat8" column="EXT_UDF_FLOAT8" jdbcType="FLOAT"/>
            <result property="extUdfFloat9" column="EXT_UDF_FLOAT9" jdbcType="FLOAT"/>
            <result property="extUdfFloat10" column="EXT_UDF_FLOAT10" jdbcType="FLOAT"/>
            <result property="extUdfLkup1" column="EXT_UDF_LKUP1" jdbcType="VARCHAR"/>
            <result property="extUdfLkup2" column="EXT_UDF_LKUP2" jdbcType="VARCHAR"/>
            <result property="extUdfLkup3" column="EXT_UDF_LKUP3" jdbcType="VARCHAR"/>
            <result property="extUdfLkup4" column="EXT_UDF_LKUP4" jdbcType="VARCHAR"/>
            <result property="extUdfLkup5" column="EXT_UDF_LKUP5" jdbcType="VARCHAR"/>
            <result property="extUdfLkup6" column="EXT_UDF_LKUP6" jdbcType="VARCHAR"/>
            <result property="extUdfLkup7" column="EXT_UDF_LKUP7" jdbcType="VARCHAR"/>
            <result property="extUdfLkup8" column="EXT_UDF_LKUP8" jdbcType="VARCHAR"/>
            <result property="extUdfLkup9" column="EXT_UDF_LKUP9" jdbcType="VARCHAR"/>
            <result property="extUdfLkup10" column="EXT_UDF_LKUP10" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        SKU,STORERKEY,SERIALKEY,
        WHSEID,SOURCEVERSION,HAZMATCODESKEY,
        ITEMREFERENCE,SERIALNUMBERSTART,SERIALNUMBEREND,
        SERIALNUMBERNEXT,DESCR,SUSR1,
        SUSR2,SUSR3,SUSR4,
        SUSR5,MANUFACTURERSKU,RETAILSKU,
        ALTSKU,PACKKEY,STDGROSSWGT,
        STDNETWGT,STDCUBE,TARE,
        CLASS,ACTIVE,SKUGROUP,
        TARIFFKEY,BUSR1,BUSR2,
        BUSR3,BUSR4,BUSR5,
        LOTTABLE01LABEL,LOTTABLE02LABEL,LOTTABLE03LABEL,
        LOTTABLE04LABEL,LOTTABLE05LABEL,LOTTABLE06LABEL,
        LOTTABLE07LABEL,LOTTABLE08LABEL,LOTTABLE09LABEL,
        LOTTABLE10LABEL,PICKCODE,STRATEGYKEY,
        CARTONGROUP,PUTCODE,PUTAWAYLOC,
        PUTAWAYZONE,INNERPACK,CUBE,
        GROSSWGT,NETWGT,ABC,
        CYCLECOUNTFREQUENCY,LASTCYCLECOUNT,REORDERPOINT,
        REORDERQTY,STDORDERCOST,CARRYCOST,
        PRICE,COST,ONRECEIPTCOPYPACKKEY,
        RECEIPTHOLDCODE,RECEIPTINSPECTIONLOC,ROTATEBY,
        DATECODEDAYS,DEFAULTROTATION,SHIPPABLECONTAINER,
        IOFLAG,TAREWEIGHT,LOTXIDDETAILOTHERLABEL1,
        LOTXIDDETAILOTHERLABEL2,LOTXIDDETAILOTHERLABEL3,AVGCASEWEIGHT,
        TOLERANCEPCT,SHELFLIFEINDICATOR,SHELFLIFE,
        TRANSPORTATIONMODE,SKUGROUP2,SUSR6,
        SUSR7,SUSR8,SUSR9,
        SUSR10,BUSR6,BUSR7,
        BUSR8,BUSR9,BUSR10,
        MINIMUMSHELFLIFEONRFPICKING,FREIGHTCLASS,ICWFLAG,
        ICWBY,IDEWEIGHT,ICDFLAG,
        ICDLABEL1,ICDLABEL2,ICDLABEL3,
        OCWFLAG,OCWBY,ODEWEIGHT,
        OACOVERRIDE,OCDFLAG,OCDLABEL1,
        OCDLABEL2,OCDLABEL3,OTAREWEIGHT,
        OAVGCASEWEIGHT,OTOLERANCEPCT,RFDEFAULTPACK,
        RFDEFAULTUOM,SHELFLIFECODETYPE,SHELFLIFEONRECEIVING,
        LOTTABLEVALIDATIONKEY,ALLOWCONSOLIDATION,MINIMUMWAVEQTY,
        BULKCARTONGROUP,PICKUOM,EACHKEY,
        CASEKEY,TYPE,EFFECSTARTDATE,
        EFFECENDDATE,CONVEYABLE,FLOWTHRUITEM,
        NOTES1,NOTES2,VERT_STORAGE,
        CWFLAG,VERIFYLOT04LOT05,PUTAWAYSTRATEGYKEY,
        RETURNSLOC,QCLOC,RECEIPTVALIDATIONTEMPLATE,
        SKUTYPE,StackLimit,MaxPalletsPerZone,
        CCDISCREPANCYRULE,MANUALSETUPREQUIRED,QCLOCOUT,
        OCDCATCHWHEN,OCDCATCHQTY1,OCDCATCHQTY2,
        OCDCATCHQTY3,HASIMAGE,GUID,
        NONSTOCKEDINDICATOR,LOTTABLE11LABEL,LOTTABLE12LABEL,
        TOEXPIREDAYS,TODELIVERBYDAYS,TOBESTBYDAYS,
        SNUM_POSITION,SNUM_LENGTH,SNUM_DELIMITER,
        SNUM_DELIM_COUNT,SNUM_QUANTITY,SNUM_INCR_POS,
        SNUM_INCR_LENGTH,SNUM_ENDTOEND,SNUM_MASK,
        ICDLABEL4,ICDLABEL5,OCDLABEL4,
        OCDLABEL5,ICD1UNIQUE,OCD1UNIQUE,
        SNUMLONG_DELIMITER,SNUMLONG_FIXED,SNUM_AUTOINCREMENT,
        ACCOUNTINGENTITY,VOICEGROUPINGID,COUNTSEQUENCE,
        DAPICKSORT,RPLNSORT,CATCHGROSSWGT,
        CATCHNETWGT,CATCHTAREWGT,TAREWGT1,
        STDNETWGT1,STDGROSSWGT1,STDUOM,
        ZERODEFAULTWGTFORPICK,FILLQTYUOM,CARTONIZEFT,
        RECURCODE,WGTUOM,DIMENUOM,
        CUBEUOM,STORAGETYPE,NMFCCLASS,
        MATEABILITYCODE,LOTHOLDCODE,AUTORELEASELOTBY,
        HOURSTOHOLDLOT,AUTORELEASELPNBY,HOURSTOHOLDLPN,
        AMSTRATEGYKEY,TEMPFORASN,IBSUMCWFLG,
        OBSUMCWFLG,SHOWRFCWONTRANS,PUTAWAYCLASS,
        GROUPFTEACH,TRANSPORTATIONSERVICE,SKUFACILITYGROUP,
        LOTCTRLATPACK,LASTCCRELEASEDATE,DEFAULTEQUIPMENTATTRIBUTE,
        DEFAULTEQUIPMENTTYPE,DEFAULTEQUIPMENTLENGTH,BARCODECONFIGKEY,
        AUTOASSIGNCONSLOC,CONSPICKLOCMIN,CONSPICKLOCMAX,
        CONSPICKMINMAXUOM,CONSPICKREPLENUOM,ROUNDBACKFLUSHQTY,
        ITEMCHARACTERISTIC1,ITEMCHARACTERISTIC2,COMMODITYCLASS,
        STOCKCATEGORY,COUNTRYOFORIGIN,COLLECTION,
        THEME,SEASON,STYLE,
        COLOR,SKUSIZE,CAMPAIGNSTART,
        CAMPAIGNEND,ALLOWMULTILOTLPN,RECEIPTUNITLABELNAME,
        RECEIPTUNITLABELUOM,QCFIRSTCOMPL,NEWALLOCATIONSTRATEGY,
        SLOTGROUP,PICKCONTPLACEMENT,FORCEUOMREPLENQTY,
        DATACAPTURESTRATEGYKEY,SERIALPARCINGSTRATEGYKEY,ICWVALIDATIONUOMLEVEL,
        OCWVALIDATIONUOMLEVEL,ICWAVGGROSSWEIGHT,ICWAVGNETWEIGHT,
        ICWAVGTAREWEIGHT,ICWTOLERANCEPCT,OCWAVGGROSSWEIGHT,
        OCWAVGNETWEIGHT,OCWAVGTAREWEIGHT,OCWTOLERANCEPCT,
        STDWEIGHTUOMLEVEL,STDGROSSWEIGHT,STDNETWEIGHT,
        STDTAREWEIGHT,REPLENSTRATKEY,SPEEDGROUPSTRATKEY,
        OUTLOTVALIDATIONKEY,DEPARTMENT,ADDDATE,
        ADDWHO,EDITDATE,EDITWHO,
        EXT_UDF_STR1,EXT_UDF_STR2,EXT_UDF_STR3,
        EXT_UDF_STR4,EXT_UDF_STR5,EXT_UDF_STR6,
        EXT_UDF_STR7,EXT_UDF_STR8,EXT_UDF_STR9,
        EXT_UDF_STR10,EXT_UDF_STR11,EXT_UDF_STR12,
        EXT_UDF_STR13,EXT_UDF_STR14,EXT_UDF_STR15,
        EXT_UDF_STR16,EXT_UDF_STR17,EXT_UDF_STR18,
        EXT_UDF_STR19,EXT_UDF_STR20,EXT_UDF_STR21,
        EXT_UDF_STR22,EXT_UDF_STR23,EXT_UDF_STR24,
        EXT_UDF_STR25,EXT_UDF_STR26,EXT_UDF_STR27,
        EXT_UDF_STR28,EXT_UDF_STR29,EXT_UDF_STR30,
        EXT_UDF_DATE1,EXT_UDF_DATE2,EXT_UDF_DATE3,
        EXT_UDF_DATE4,EXT_UDF_DATE5,EXT_UDF_DATE6,
        EXT_UDF_DATE7,EXT_UDF_DATE8,EXT_UDF_DATE9,
        EXT_UDF_DATE10,EXT_UDF_FLOAT1,EXT_UDF_FLOAT2,
        EXT_UDF_FLOAT3,EXT_UDF_FLOAT4,EXT_UDF_FLOAT5,
        EXT_UDF_FLOAT6,EXT_UDF_FLOAT7,EXT_UDF_FLOAT8,
        EXT_UDF_FLOAT9,EXT_UDF_FLOAT10,EXT_UDF_LKUP1,
        EXT_UDF_LKUP2,EXT_UDF_LKUP3,EXT_UDF_LKUP4,
        EXT_UDF_LKUP5,EXT_UDF_LKUP6,EXT_UDF_LKUP7,
        EXT_UDF_LKUP8,EXT_UDF_LKUP9,EXT_UDF_LKUP10,
        ISSERIALCONTROL,BUSR11,BUSR12,
        BUSR13,ENABLEBARCODE
    </sql>
</mapper>
