<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.enhantec.wms.ui.inbound.mapper.TestReceiptMapper">

    <resultMap id="BaseResultMap" type="com.enhantec.wms.ui.inbound.model.TestReceipt">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="receiptKey" column="receipt_key" jdbcType="VARCHAR"/>
            <result property="whseId" column="whse_id" jdbcType="VARCHAR"/>
            <result property="quantity" column="quantity" jdbcType="DECIMAL"/>
            <result property="city" column="city" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="enabled" column="enabled" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,receipt_key,whse_id,
        quantity,city,create_time,
        enabled
    </sql>

    <select id="selectAllById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from test_receipt
        where
        id = #{id,jdbcType=VARCHAR}
    </select>
    <select id="selectByReceiptKey" resultType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from test_receipt
        ${ew.customSqlSegment}
    </select>
</mapper>
