<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.enhantec.framework.scheduler.common.mapper.EHJobScheduleMapper">

    <resultMap id="BaseResultMap" type="com.enhantec.framework.scheduler.common.model.EHJobScheduleModel">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="orgId" column="org_id" jdbcType="VARCHAR"/>
            <result property="jobDefId" column="job_def_id" jdbcType="VARCHAR"/>
            <result property="jobOrgIds" column="job_org_ids" jdbcType="VARCHAR"/>
            <result property="jobParams" column="job_params" jdbcType="VARCHAR"/>
            <result property="cronExpression" column="cron_expression" jdbcType="VARCHAR"/>
            <result property="enabled" column="enabled" jdbcType="TINYINT"/>
            <result property="addWho" column="add_who" jdbcType="VARCHAR"/>
            <result property="addDate" column="add_date" jdbcType="TIMESTAMP"/>
            <result property="editWho" column="edit_who" jdbcType="VARCHAR"/>
            <result property="editDate" column="edit_date" jdbcType="TIMESTAMP"/>
            <result property="version" column="version" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,org_id,job_def_id,job_org_ids,job_params,remark,
        cron_expression,enabled,add_who,
        add_date,edit_who,edit_date,
        version
    </sql>
    <select id="queryPageData" resultType="java.util.Map">
        select
        s.id,
        s.org_id,
        s.description,
        s.job_org_ids,
        s.job_params,
        s.cron_expression,
        s.enabled,
        s.add_who,
        s.add_date,
        s.edit_who,
        s.edit_date,
        s.version,
        j.name job_def_name
        from eh_job_schedule s
        JOIN eh_job_definition j ON s.job_def_id = j.id
        ${ew.customSqlSegment}
    </select>
</mapper>
