<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.enhantec.security.common.mapper.EHRoleMapper">


    <resultMap id="BaseResultMap" type="com.enhantec.security.common.model.EHRole">
        <id property="id" column="id" jdbcType="VARCHAR"/>
        <id property="roleName" column="role_name" jdbcType="VARCHAR"/>
        <result property="displayName" column="display_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        r.id, role_name,display_name
    </sql>
    <select id="queryPageData" resultType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from eh_role r
        JOIN eh_user_role ur ON r.id = ur.role_id
        ${ew.customSqlSegment}
    </select>
</mapper>