<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.enhantec.security.common.mapper.EHRoleMapper">


    <resultMap id="BaseResultMap" type="com.enhantec.security.common.model.EHRole">
        <id property="id" column="r.id" jdbcType="VARCHAR"/>
        <id property="roleName" column="role_name" jdbcType="VARCHAR"/>
        <result property="displayName" column="display_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        r.id, r.role_name,r.display_name
    </sql>


    <select id="queryRolePageData" resultType="java.util.Map">
        select
        <include refid="Base_Column_List"/>,
        from eh_role r
        ${ew.customSqlSegment}
        AND orgId = ${orgId}
    </select>

    <select id="queryUserRolePageData" resultType="java.util.Map">
        select
        <include refid="Base_Column_List"/>,
        tr_org.trans_text name
        from eh_role r
        JOIN eh_user_role ur ON r.id = ur.role_id
        JOIN eh_organization org ON r.org_id = org.id
        JOIN eh_translation tr_org
        ON tr_org.table_name = 'eh_organization'
        AND tr_org.column_name = 'name'
        AND tr_org.trans_id = org.id
        AND tr_org.language_code = '${languageCode}'
        ${ew.customSqlSegment}
    </select>
</mapper>