<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.enhantec.framework.common.mapper.EhTranslationMapper">


    <resultMap id="BaseResultMap" type="com.enhantec.framework.common.model.EhTranslation">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="tableName" column="table_name" jdbcType="VARCHAR"/>
            <result property="columnName" column="column_name" jdbcType="VARCHAR"/>
            <result property="transId" column="trans_id" jdbcType="VARCHAR"/>
            <result property="languageCode" column="language_code" jdbcType="VARCHAR"/>
            <result property="transText" column="trans_text" jdbcType="VARCHAR"/>
            <result property="addWho" column="add_who" jdbcType="VARCHAR"/>
            <result property="addDate" column="add_date" jdbcType="TIMESTAMP"/>
            <result property="editWho" column="edit_who" jdbcType="VARCHAR"/>
            <result property="editDate" column="edit_date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,table_name,column_name,
        trans_id,language_code,trans_text,
        add_who,add_date,edit_who,
        edit_date
    </sql>

    <select id="findByTranslationKeys" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from eh_translation tr
        where tr.table_name = #{tableName}
        and tr.column_name = #{columnName}
        and tr.language_code = #{languageCode}
        and tr.trans_id = #{transId}
    </select>


    <!-- After tried, using following resultType to directly map result to ehTranslation does not work,
        even @TableField already specified the column name in the model class.
        As a workaround, we can manually map result to a resultMap and then referenced i`ts id in resultMap attribute of select sql xml
        or provide a alias name for each field in sql, like select trans_text AS transText ...-->
    <!-- TODO find the issue of why resultType does not work when specified the columnName in @TableField-->

<!--    <select id="findByTranslationKeys" resultType="com.enhantec.framework.common.model.EhTranslation">-->
<!--        select-->
<!--        <include refid="Base_Column_List"/>-->
<!--        from eh_translation tr-->
<!--        where tr.table_name = '${tableName}'-->
<!--        and tr.column_name = '${columnName}'-->
<!--        and tr.language_code = '${languageCode}'-->
<!--        and tr.trans_id = '${transId}'-->
<!--    </select>-->
</mapper>
